spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/ms_employee
    username: postgres
    password: postgres

  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: update
